doc/flow-csv.json
[
	{
		"id": "6d110fe5.89a26",
		"type": "chunks-to-lines",
		"z": "f9fee10a.da0ac",
		"name": "",
		"nbLines": "4096",
		"linesFormat": "csv",
		"decoder": "UTF-8",
		"x": 260,
		"y": 920,
		"wires": [
			[
				"8a66f81e.e842f8"
			]
		]
	},
	{
		"id": "8a2830da.d3ece8",
		"type": "ui-upload",
		"z": "f9fee10a.da0ac",
		"group": "f670592a.b5ece8",
		"title": "",
		"name": "",
		"order": 0,
		"width": 0,
		"height": 5,
		"chunk": "256",
		"transfer": "text",
		"x": 100,
		"y": 920,
		"wires": [
			[
				"6d110fe5.89a26"
			]
		]
	},
	{
		"id": "4c1772d4.7293e4",
		"type": "postgres",
		"z": "f9fee10a.da0ac",
		"postgresdb": "732ba438.eaf19c",
		"name": "",
		"output": true,
		"perrow": false,
		"rowspermsg": "1",
		"outputs": 1,
		"x": 700,
		"y": 920,
		"wires": [
			[
				"6b1ed266.a18ad4"
			]
		]
	},
	{
		"id": "6b1ed266.a18ad4",
		"type": "function",
		"z": "f9fee10a.da0ac",
		"name": "Ready for next lines",
		"func": "return { tick: true };",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 880,
		"y": 920,
		"wires": [
			[
				"6d110fe5.89a26"
			]
		]
	},
	{
		"id": "8a66f81e.e842f8",
		"type": "csv",
		"z": "f9fee10a.da0ac",
		"name": "",
		"sep": ",",
		"hdrin": true,
		"hdrout": "none",
		"multi": "mult",
		"ret": "\\n",
		"temp": "",
		"skip": "0",
		"strings": false,
		"include_empty_strings": "",
		"include_null_values": "",
		"x": 410,
		"y": 920,
		"wires": [
			[
				"e3591f93.5c0208"
			]
		]
	},
	{
		"id": "e3591f93.5c0208",
		"type": "function",
		"z": "f9fee10a.da0ac",
		"name": "Format SQL",
		"func": "let payload = 'INSERT INTO your_table(time, sensor_id, jsonb_data) VALUES ';\n\nfor (const line of msg.payload) {\n    payload += `('${line.time}', '${line.sensor_id}', '${line.jsonb_data}'),`;\n}\n\nmsg.payload = payload.slice(0, - 1) + ';';\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 550,
		"y": 920,
		"wires": [
			[
				"4c1772d4.7293e4"
			]
		]
	},
	{
		"id": "f670592a.b5ece8",
		"type": "ui_group",
		"z": "",
		"name": "Default",
		"tab": "6eb91448.9d471c",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "732ba438.eaf19c",
		"type": "postgresdb",
		"z": "",
		"hostname": "timescale",
		"port": "5432",
		"db": "postgresdb",
		"ssl": false
	},
	{
		"id": "6eb91448.9d471c",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]